
@{
    ViewData["Title"] = "Regions";
}
<h1>@ViewData["Title"]</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
 
    </tbody>
</table>

<p>Use this page to detail your site's asdfasdfprivacy policy.</p>